-@ val body: String
-@ val title: String = "Some Default Title"
!!! 5
html
  head
    title #{title}
    link(href="/public/css/style.css" rel="stylesheet" media="all")/
  body
    nav#helpers
      button#nav-prev.nav-prev(title="Previous")
        | <
      button#slide-no(title="Jump to slide") 1
      button#nav-next.nav-next(title="Next")
        | >
      menu
        button(type="checkbox" data-command="notes" title="View Notes") Notes
        button(type="checkbox" data-command="help" title="View Help") Help
        button(type="checkbox" data-command="back" title="Back to Slideshow") Back
    .presentation
      #presentation-counter Loading...
      .slides
        - unescape(body)
    #hidden-note.invisible(style="display: none;")
    aside#help.sidebar.invisible(style="display:hidden;")
      table
        caption Help
        tbody
          tr
            th Move forward/back
            td
              &= "← →"
          tr
            th Move forward
            td spacebar
          tr
            th Hidden Notes
            td
              | N
          tr
            th Help
            td
              | H
    script(src="/public/js/script.js")